<section id="contacto">
  <h2>Contacto</h2>
  <form>
    <input type="text" name="nombre" placeholder="Nombre" />
    <input type="email" name="email" placeholder="Correo electrónico" />
    <textarea name="mensaje" placeholder="Mensaje"></textarea>
    <button type="submit">Enviar</button>
  </form>
</section>
<footer>
  <p>&copy; 2024 Clínica Veterinaria</p>
  carrera 9 No. 12-8, Tunja Boyaca
</footer>