<section id="inicio">
  <h2>ASMEVET</h2>
  <p>Es un hospital veterinario ubicado en Tunja, Colombia. Fue fundado en el
    año 1991 con la visión de crear el primer hospital veterinario en Tunja y
    brindar servicios donde las mascotas sean tratadas como miembros de la
    familia. Más de 20 años después, ASMEVET se ha convertido en líder en la
    región de Cundinamarca en el tratamiento de animales de compañía.</p>
  <br />
  <p>El hospital se dedica al cuidado de animales pequeños y es conocido por su
    enfoque ético y atención de calidad para las mascotas. Se ha descrito como
    un lugar donde las mascotas son tratadas como miembros de la familia. El
    hospital fue fundado por el Dr. Luis Chaves, quien, al graduarse como
    veterinario, estableció ASMEVET con el objetivo de abordar las necesidades
    de la comunidad y crear un enfoque innovador para la atención veterinaria.
  </p>
</section>

<footer>
  <p>&copy; 2024 Clínica Veterinaria</p>
  carrera 9 No. 12-8, Tunja Boyaca
</footer>