<section id="productos">
  <h2>productos</h2>
  <p>alimentos</p>
  <p>medicamentos</p>
  <div id="servicios">
    <a href="/servicios">
      <img id="imagen3" src="../Images/imagen3.jpg" alt="" /></a>
    <a href="/servicios">servicios </a>
  </div>
</section>
<footer>
  <p>&copy; 2024 Clínica Veterinaria</p>
  carrera 9 No. 12-8, Tunja Boyaca
</footer>