<section id="servicios">
    <h2>Servicios</h2>
    <li><a href="consulta">consulta</a></li>
    <li><a href="vacunacion">vacunacion</a></li>
    <li><a href="cirugia">ciruguia</a></li>
    </ul>
    <p>Testimonios de clientes satisfechos con los servicios de la clínica veterinaria.</p>
</section>

<footer>
    <p>&copy; 2024 Clínica Veterinaria</p>
    carrera 9 No. 12-8, Tunja Boyaca
</footer>